h1 {
    text-align: center;
}
.inputSize {
    width: 50px;
}
button > a:hover, button > a {
    text-decoration: none;
    color: white;
}
body {
    background-image: url('https://i.skyrock.net/5986/64805986/pics/3012857709_1_3_rurX6awB.jpg');
}
.table thead th {
    border-color: darkred;
}
.table tbody td {
    border-color: red;
}
nav
{
    background-image: linear-gradient(white, #eed9c8);
}
h1 {
    font-style: italic;
    font-size: 3rem;
}
h2 {
    text-decoration: black underline;
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
    font-style: oblique;
    text-decoration: underline;
}
p {
    font-size: 1.5rem;
}
ul {
    margin: 0;
    padding: 0;
}